.circle {
    width: 150px;
    height: 50px;
    background-color: aqua;
}

.circle:hover {
    transform: rotateY(90);
    transform: rotateX(90);
    transition: 3s;
    /* background-color: ; */
}
